/* You can delete / re-write this img class  */

img {
    max-width: 200px;
}

:root {
    --dark-colour : rgb(22, 22, 22);
    --light-colour : rgb(238, 238, 238);
}

.card {
    display: flex;
    gap:1rem;
    justify-content: center;
}

.card__container--dark {
    background-color: var(--dark-colour);
    color: var(--light-colour);
    padding: 1rem;
    border-radius: 0.3rem;
    width:15rem;
}

.card__container--light {
    background-color: var(--light-colour);
    color: var(--dark-colour);
    padding: 1rem;
    border-radius: 0.3rem;
    width:15rem;
}

.card__image {
    display: block;
    text-align: center;
}

.card__header {
    text-align: center;
}

.button {

    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;

}

.button:active {
    
    transform: translateY(4px);
  }


.button--dark{
    background-color: Red ;
    color: #fff;
}

.button--light{
    background-color: lightseagreen;
    color: #fff;
    
}